* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
:root {
	--big-font: "Gordita Medium";
	--orange-color: #d45945;
	--rose-color: #a14d9b;
	--gray-color: #999999;
	--backgound-color: #141414;
	--gradient-color: linear-gradient(
		273deg,
		rgba(175, 80, 160, 1) 1%,
		rgba(228, 74, 24, 1) 100%,
		rgba(175, 80, 160, 1) 100%
	);
}
ol,
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}
del {
	text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
	display: block;
}

@font-face {
	font-family: "Gordita Medium";
	font-style: normal;
	font-weight: normal;
	src: local("Gordita Medium"),
		url("./components/assets/fonts/Gordita Medium.woff") format("woff");
}
@font-face {
	font-family: "Gordita Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Gordita Regular"),
		url("./components/assets/fonts/Gordita Regular.woff") format("woff");
}
body {
	font-family: "Gordita Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow-x: hidden;
	min-width: 320px;
	background-color: #141414;
}
input,
textarea,
select {
	font-family: "Gordita Regular", sans-serif;
}

/* a:hover,
[type="submit"]:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khml-opacity: 0.85;
	opacity: 0.85;
} */
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
